# github
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[core]
	editor = nvim
	pager = delta

# user
[user]
	email = maffers2006@gmail.com
	name = matsixfive

[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	tool = nvimdiff
	conflictStyle = zdiff3

[diff]
	tool = nvimdiff
	guitool = nvimdiff
[difftool]
	prompt = false
[alias]
	# Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
	dlog = -c diff.external=difft log --ext-diff
	dshow = -c diff.external=difft show --ext-diff
	ddiff = -c diff.external=difft diff

	first = rev-list --max-parents=0 HEAD
	main = switch main


[includeIf "gitdir:~/uni/"]
	path = ~/uni/.gitconfig_uni
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[commit]
	template = /home/matsixfive/.gitmessage
[push]
	autoSetupRemote = true
