[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = maffers2006@gmail.com
	name = matsixfive
[pull]
	rebase = true
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
	guitool = nvimdiff
[merge]
	tool = nvimdiff
[difftool]
	prompt = false
